

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap');

.navContainer {
    width: 100vw;
    display: flex;
    justify-content:space-evenly;
}

.navList {
    display: flex;
    justify-content:center;
    gap: 50px;
    
}

li {
list-style: none;
font-family:roboto;
font-weight: bold;
}

.imgLogo {
margin-top:18px ;
}

.btnContactUs {
margin-top: 16px;
background-color: #072AC8;
  border: 1px solid transparent;
  
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  outline: none;
  padding: 8px .8em;
  text-align: center;
  text-decoration: none;
  user-select: none;
 
}

.heroSection {
display: flex;  
flex-direction: column;
gap: 30px;
margin-top:20px;
align-items: center;
width: 100vw;
}

.Container {
  display: flex;
 
  justify-content:center;
  width: 100vw;
  gap: 100px;
  
 
}

.leftcontainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 16px;
  align-items: center;
  justify-content: center;
  
  height: 400px;
  width: 400px;
}
.rightcontainer {
  padding: auto 10px;

}

.mainImg {
  width: 400px;
  
}

.cardone {
  position: absolute;
  bottom: 400px;
  right: 520px;
  width: 238px;
}
 
.cardtwo {
  position: absolute;
top: 350px;
right: 189px;
width: 238px;
}
.logosLine {
  display: flex;
  justify-content: space-between;

  width: 58vw;
}
.htag{
  width: 300px;
  
  font-size: 40px;
  
}
.ptag{
  font-size: 18px;
  
}